@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

nav {
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-input {
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 17px;
}

.search-input::placeholder {
  color: #fff;
}

.limited-offer {
  font-size: 25px;
  border-bottom: 1px solid green;
  cursor: pointer;
}

.search-icon {
  cursor: pointer;
}

.nav-buttom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.menu-item {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background-image: url(./img/wall3.jpg);
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-wrapper {
  display: flex;
  width: 500vw;
}

.slider-item {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-bg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
}

.slider-img {
  z-index: 1;
}

.slider-title, .slider-price, .buy-btn {
  position: absolute;
  top: 18%;
  right: 14%;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

.slider-price {
  right: unset;
  left: 7%;
  border: 1px solid gray;
  z-index: 1;
  font-weight: 300;
}

.buy-btn {
  top: 50%;
  right: 10%;
  text-align: unset;
  cursor: pointer;
  background-color: #000;
  font-size: 30px;
  outline: none;
  padding: 10px 20px;
}

.buy-btn:hover {
  background-color: #fff;
  color: #000;
}

.slider-item:nth-child(1) .slider-bg {
  background-color: rgb(7, 206, 139);
}

.slider-item:nth-child(2) .slider-bg {
  background-color: rgb(50, 6, 68);
}

.slider-item:nth-child(3) .slider-bg {
  background-color: rgb(250, 14, 14);
}

.slider-item:nth-child(4) .slider-bg {
  background-color: rgb(252, 35, 198);
}

.slider-item:nth-child(5) .slider-bg {
  background-color: rgb(30, 255, 22);
}

.slider-item:nth-child(1) .slider-price {
    color: rgb(7, 206, 139);
}

.slider-item:nth-child(2) .slider-price {
    color: rgb(50, 6, 68);
}

.slider-item:nth-child(3) .slider-price {
    color: rgb(250, 14, 14);
}

.slider-item:nth-child(4) .slider-price {
    color: rgb(252, 35, 198);
}

.slider-item:nth-child(5) .slider-price {
    color: rgb(30, 255, 22);
}